<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajaxpost请求</title>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    姓名：<input id="username" type="text" name="username"><span id="text"></span><br>
    密码：<input id="password" type="password" name="password"><br>
    <input id="button" type="button" value="提交">

</form>

<script>
    // 失去焦点时判断输入的用户名是否已经存在

    $("#username").blur(
        function () {
            username = $("#username").val()
            url = '/check_username/?username='+username
            $.ajax(
                {
                    url:url,
                    type:'get',
                    data:'',
                    success:function (data) {
                        $("#text").html(data.content)
                        {% if data.code != 10000 %}
                            $("#button").disabled=true
                        {% endif %}
                    },
                    error:function (data) {
                        console.log(data)
                    }
                }
            )
        }
    )


    $("#button").click(
        function () {
            username = $('#username').val()
            password = $('#password').val()
            url = "/ajax_post_data/"
            post_data = {
                'username':username,
                'password':password,
                'csrfmiddlewaretoken':'{{ csrf_token }}'
            }
            $.ajax(
                {
                    url:url,
                    type:'post',
                    data:post_data,
                    success:function (data) {
                        console.log(data)
                    },
                    error:function (error) {
                        console.log(error)
                    }
                }
            )
        }
    )

</script>
</body>
</html>